$primary-color: black;

.scss-parent {
    font-size: 32px;
    color: red;

    &:hover {
        color: $primary-color;
    }

    .scss-child-1 {
        color: blue;

        .scss-child-2 {
            color: white;
            background-color: $primary-color;
        }
    }

}